body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
}

#gameBoard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 80%;
    margin: 0 auto;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 24px;
    border: solid 1px #333;
    border-radius: 8px;
}

.hidden {
    background-color: #333;
    cursor: default;
    font-size: 0;
}
